<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>

<header>
    <h2>Bienvenido</h2>
    <a href="index.html">inicio</a><br>
    <a href="galeria.html">Galeria</a><br>
    <a href="tabla.html">Tabla</a><br>
    <a href="listas.html">Listas</a><br>
    <a href="formularios.html">Formularios</a><br>
    <a href="https://www.google.com" target="_blank">Google</a><br>
    <hr>
    <h3>Vehiculos</h3>
    <a href="#FiarCronos">Ir a Fiar Cronos</a><br>
    <a href="#Toyotahilux">Ir a Toyota Hilux</a><br>
    <a href="#Peugeot208">Ir a Peugeot 208</a><br>
    <br>
    <hr>
    </header>
    
    <main>
    <section>
        <img width="250px" src="imagen/OIP.jpg" alt="Fiat Cronos" id="FiarCronos"><br>
        <h2>Fiat Cronos</h2>
        <p>Unos de los autos mas vendidos en la argentina en el 2024</p><br>
        <a href="imagen/OIP.jpg" target="_blank">Ver en una nueva ventana</a><br>
        <a href="imagen/OIP.jpg" download>Descargar Imagen</a><br>
        <a href="imagen/OIP.pdf" download>Descargar PDF</a><br>
        <br>
        <h3>Enviar correo</h3>
    </section>
    <form action="ventadeautos@gmail.com" method="post" enctype="text/plain">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br>
    
        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" cols="30"></textarea><br>
    
        <input type="submit" value="Enviar correo">
        <hr>
    </form>

    <img width="250px" src="imagen/toyota-hilux.jpg" alt="Toyota Hilux" id="Toyotahilux"><br>
    <h2>Toyora Hilux</h2>
    <p>La Pick-ups mas vendida del 2024</p><br>
    <a href="imagen/toyota-hilux.jpg" target="_blank">Ver en una ventana nueva</a><br>
    <a href="imagen/toyota-hilux.jpg" download>Descargar imagen</a><br>
    <a href="imagen/toyota-hilux.pdf"download>Descargar PDF</a><br>
    <br>
    <h3>Enviar correo</h3>
    <form action="ventadeautos@gmail.com" method="post" enctype="text/plain">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br>
    
        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" cols="30"></textarea><br>
    
        <input type="submit" value="Enviar correo">
        <hr>
    </form>
    <hr>
    <img width="250px" src="imagen/peugeot-208.jpg" alt="Peugeot 208" id="Peugeot208"><br>
    <h2>Peugeot 208</h2>
    <p>El Hatchbacks compacto mas vendido del 2024</p><br>
    <a href="imagen/peugeot-208.jpg" target="_blank">Abrir en una nueva ventana</a><br>
    <a href="imagen/peugeot-208.jpg" download>Descargar imagen</a><br>
    <a href="imagen/peugeot-208.pdf"download>Descargar PDF</a><br>
    <br>
    <h3>Enviar correo</h3>
    <form action="ventadeautos@gmail.com" method="post" enctype="text/plain">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br>
    
        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" cols="30"></textarea><br>
    
        <input type="submit" value="Enviar correo">
        <hr>
    </form>
    </section>
    
    
    </main>
    
    <footer>
    
    
    
    </footer>
<body>
    
</body>
</html>