<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<header><br>
    <h2>Bienvenido</h2>
    <a href="index.html">inicio</a><br>
    <a href="galeria.html">Galeria</a><br>
    <a href="tabla.html">Tabla</a><br>
    <a href="listas.html">Listas</a><br>
    <a href="formularios.html">Formularios</a><br>
    <a href="https://www.google.com" target="_blank">Google</a><br>
    <hr>

</header>

<main>
    <section>
        
        <article>
            <h1>El rugby por el mundo</h1>
        </article><br>
         <article>
            <img src="https://th.bing.com/th/id/OIP.ug_KCI0QmsG6wGNGuN8alQAAAA?rs=1&pid=ImgDetMain" alt="150px">

        </article>

    </section>

    <section>
        <p>Sabemos que el rugby no es de los deportes mas practicados en el mundo, por eso te queremos contar de sus <mark>valores y enseñanzas.</mark></p>
   <p>Llegar a un club donde no conoces a nadie es de las partes mas dificiles pero el <b>rugby</b> tiene el valor de <strong>integrar</strong> a todos al grupo y formar nuevas amistades sin importar de donde venga</p>

    </section>
</main>

<footer>



</footer>
<body>
    
</body>
</html>