<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<header>
    <h2>Bienvenido</h2>
    <a href="index.html">inicio</a><br>
    <a href="galeria.html">Galeria</a><br>
    <a href="tabla.html">Tabla</a><br>
    <a href="listas.html">Listas</a><br>
    <a href="formularios.html">Formularios</a><br>
    <a href="https://www.google.com" target="_blank">Google</a><br>
    <hr>
    
    </header><br>
<body>
   <h2>Ordenada</h2> <section>
    <h3>Pizza</h3>
    <ol>
        <li>Harina</li>
        <li>Agua tibia con sal</li>
        <li>Levadura</li>
        <li>Salsa</li>
        <li>Queso</li>
        <li>Jamon</li>
    </ol>

    </section>
    
    <h2>Desordenada</h2><section>
        <h3>Chocorta</h3>
        <ul>
            <li>Dulce de leche</li>
            <li>Queso crema</li>
            <li>Leche</li>
            <li>Chocolinas</li>
            <li>Nesquik </li>
        </ul>

    </section>

    <h2>Definicion</h2><section>
        <h3>tipo de fiabres  </h3>
        <dl>
            <dt>Cerdo</dt>
            <dd>Jamon cocido</dd>
            <dd>Jamon serrano</dd>
            <dd>Lomo embuchado</dd>
            <dt>Ave</dt>
            <dd>Pechuga de pollo</dd>
            <dd>Mortadela de pollo</dd>
            <dt>Vacuno</dt>
            <dd>Cecina</dd>
            <dd>Pastrami</dd>
        </dl>


    </section>
    
    <h2>Dependiente</h2><section>
        <h3>Activad semanal</h3>
        <ol>
            <li>Lunes</li>
            <ul>
                <li>Facultad</li>
                <li>Trabajo</li>
                <li>Entrenamiento</li>
            </ul>
            <li>Martes</li>
            <ul>
                <li>Facultad</li>
                <li>Trabajo</li>
                <li>Entrenamiento</li>
            </ul>
            <li>Miercoles</li>
            <ul>
                <li>Facultad</li>
                <li>Entrenamiento</li>
            </ul>


        </ol>
        
    </section>
    
</body>
</html>