<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="icon" href="imagen/Pelota.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
    <style>
        table,th,td{
            border: 2px solid black;
            border-collapse: collapse;
            padding: 10px;

            
        }
    </style>
</head>

<header>
    <h2>Bienvenido</h2>
    <a href="index.html">inicio</a><br>
    <a href="galeria.html">Galeria</a><br>
    <a href="tabla.html">Tabla</a><br>
    <a href="listas.html">Listas</a><br>
    <a href="formularios.html">Formularios</a><br>
    <a href="https://www.google.com" target="_blank">Google</a><br>
    <hr>
    
    </header>
    
    <main>
    <section>
        <h2>Audio de un scrum</h2>
        <audio controls>
            <source src="imagen/scrum2.mp3">
        </audio>
        <br>
        <h2>Video del mismo scrum</h2>
        <video controls height="300" muted>
            <source src="imagen/scrumvideo.mp4">
        </video>
    </section>
    <br>
    <hr>
    <section>
        <h2>Ubicacion del club donde juego</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.32408608308!2d-60.74100702366811!3d-32.94245197359507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b652ceb67fa623%3A0xaade9d20f47fe5cc!2sOld%20Resian%20Club!5e0!3m2!1ses-419!2sar!4v1744212883499!5m2!1ses-419!2sar" 
        width="300" height="200" 
        style="border:0;" allowfullscreen="" 
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <h2>video de youtube sobre la identidad del club</h2>
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/P4yxBB_ERZk?si=-tclzvgdQCWbhb33" 
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
<br>
<hr>
    <section>
        <h2>Tabla de datos sobre el rugby</h2>
        <table>
            <tr>
                <th>Posición</th>
                <th>Funciones</th>
                
            </tr>
            <tr>
                <td> Primera linea</td>
                <td>Scrum,line,ser los mas fuertes de la cancha </td>
                
            </tr>
            <tr>
                <td> Segunda linea</td>
                <td>scrum,line</td>
                
            </tr>
            <tr>
                <td> Tercera linea</td>
                <td>scrum, line, ser multifunciones </td>
                
            </tr>
            <tr>
                <td> Medio scrum</td>
                <td>Abrir todas las pelotas en los rucks</td>
                
            </tr>
            <tr>
                <td> Apertura</td>
                <td>Comandar al equipo</td>
                
            </tr>
            <tr>
                <td> Centros</td>
                <td>Ser los bakcs mas fuertes</td>
                
            </tr>
            <tr>
                <td> Wing</td>
                <td>Ser los mas rapidos</td>
                
            </tr>
            <tr>
                <td> Full back</td>
                <td>Tener la mejor lectura de juego</td>
                
            </tr>
        </table>

    </section>
    
    </main>
    
    <footer>
    
    
    
    </footer>
<body>
</html>